@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


@layer base{
    body{
        
        @apply font-[Raleway];
        background-color: black;
        @apply max-w-sm lg:max-w-5xl;
        align-items: center;
        justify-content: center;
        @apply mx-auto;
    }

    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-position: center;
    height: 250px; 
}

